$tablet: 426px;
$desktop: 769px;

.vehicles {

  &__list {
    display: flex;
    flex-direction: column;
    // You'd want a CSS reset for this sort of thing really.
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__single {
    align-items: stretch;
    display: flex;

    @media (min-width: $tablet) {
      flex-direction: column;
      width: 50%;
    }

    @media (min-width: $desktop) {
      width: 25%;
    }
  }

  &__image {
    aspect-ratio: square;
    max-width: 120px;
    object-fit: cover;

    @media (min-width: $tablet) {
      max-width: none;
    }
  }

  &__image--square {
    display: block;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__image--video {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }

  &__textarea {
    border: .1px solid lightgrey;
    flex-grow: 1;
    padding: 20px 24px;

    @media (min-width: $tablet) {
      padding: 20px 24px;
      text-align: center;
    }
  }

  &__header {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 0 4px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      margin-bottom: 16px;
    }
  }

  &__price {
    font-size: 14px;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
  }
}